<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 my-2"
      *ngFor="let drink of drinks">
    <div class="card bg-dark text-white">
      <img [src]="drink.strDrinkThumb" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ drink.strDrink }}</h5>
        <div class="btn btn-lg btn-block btn-light"
             role="button"
             [routerLink]="'/drink/' + drink.idDrink">
             Dettaglio
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ drink.strCategory }}</small>
        <!-- <div *ngIf="router.url === '/search'" class="form-check" >
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div> -->
      </div>
    </div>
  </div>
</div>
