<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="container-fluid">
        <a class="navbar-brand"
           role="button"
           (click)="reload()"
            >The cocktail DB</a>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/home/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/order/'">Order</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input [(ngModel)]="cocktail" id="search" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" aria-describedby="search-addon">
        <button class="btn btn-outline-primary" type="button" (click)="search()">search</button>
      </form>
    </div>
  </div>
</nav>


<div class="row">
  <div class="flex-container no-wrap col-sm-7 col-md-7 col-lg-4 my-2 flex-container no-wrap">
    <div *ngFor="let letter of firstsLetters"
          class="input-group"
          role="button">
      <button type="button" class="btn btn-outline-primary" (click)="searchByFirstLetter(letter)">{{ letter }}</button>
    </div>
  </div>
</div>

<h2>Drinks</h2>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 my-2"
      *ngFor="let drink of drinks">
    <div class="card">
      <img [src]="drink.strDrinkThumb" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ drink.strDrink }}</h5>
        <div class="btn btn-primary"
             role="button"
             [routerLink]="'/drink/' + drink.idDrink">
             Dettaglio
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ drink.strCategory }}</small>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
